* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    color: #fff;
}

main {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#containerForm {
    border-radius: 8px;
    width: 38%;
    border: 1px solid;
    padding: 2vw 0;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
}

#containerSubControlForm {
    width: 80%;
    height: 100%;
    background: #c09696;
    display: flex;
}

#containerControlForm {
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlFormdiv {
    width: 50%;
    height: 100%;
    background: #9c9393;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3vw;
}

#ControlLogin {
    background: #f97316;
}

#ControlCadastro {
    background: #2E2F2F;
}

#formLogin, #formCadastro {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#formCadastro {
    height: 60vh;
}

.labelInput, .inputStyle {
    width: 80%;
    height: 2.1vw;
}

.labelInput {
    font-size: 1.2vw;
}

.inputStyle {
    font-weight: 250;
    font-size: 1.2vw;
}

.inputStyle {
    background: #232424;
    border: none;
    padding-left: 0.6vw;
}

.inputStyle:focus {
    outline: none;
    box-shadow: none;
    border: none;
    background: #141515;
}

.containerInputLogin, .containerInputCadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnForm {
    width: 80%;
    background: #f97316;
    color: #fff;
    border: none;
    cursor: pointer;
    letter-spacing: 0.8px;
    transition: 0.2s ease;
    font-size: 1.25vw;
    height: 2.5vw;
    border-radius: 5px;
}

.btnForm:hover {
    background-color: #4E2B06;
}

#EsqSenha {
    color: #9c9393;
    text-decoration: none;
    font-size: 1.2vw;
}

#EsqSenha:hover {
    text-decoration: underline;
}

#spanCopy {
    color: #ffffff96;
    font-size: 1vw;
}

#logo {
    width: 150px;
}

.d-none {
    display: none !important;
}